$bg-color: #f4f4f5;
$primary-color: #1e88e5;
$primary-hover-color: #0f74cc;
$white-color: #ffffff;
$outline-stroke-color: #ffa726;
$light-grey-color: #eceff1;
$dark-grey-color: #78909c;
$grey-border-color: #cfd8dc;
$text-color: #212121;

$error-border-color: #ffcdd2;
$error-bg-color: #fff5f6;
$error-text-color: #f16865;

$medium-shadow: 0px 10px 20px 0px rgba(38, 50, 56, 0.08);

$sizes: (
  'xxs': 380px,
  'xs': 480px,
  's': 639px,
  'm': 767px,
  'l': 991px,
  'xl': 1120px,
  'xxl': 1279px,
);
