.menu {
  flex-direction: column;
  gap: 15px;
  justify-content: flex-start;
  overflow-y: auto;
  width: 350px;
  max-width: 0;
  height: 0;
  padding: 20px 0;
}

.menu.open {
  display: flex;
  max-width: 100vw;
  margin-right: 26px;
  border-left: 1px solid #7e7b7b;
  padding-left: 10px;
  height: 100%;
}
