.button {
  display: inline-flex;
  padding: 16px 36px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  background-color: $primary-color;
  color: $white-color;
  border: 0;
  outline: 0;
  border-radius: 10px;
  white-space: nowrap;
  cursor: pointer;

  &_medium {
    padding: 12px 30px;
    font-size: 16px;
  }

  @include media('s') {
    &_image {
      font-size: 0;
      padding: 20px 24px;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        translate: 0 -50%;
        width: 20px;
        height: 20px;
        background-size: 20px;
        background-repeat: no-repeat;
      }

      &-logout::after {
        background-image: url(/src/assets/svg/logout.svg);
      }

      &-playground::after {
        background-image: url(/src/assets/svg/textbox.svg);
      }

      &-login::after {
        background-image: url(/src/assets/svg/login.svg);
      }

      &-register::after {
        background-image: url(/src/assets/svg/register.svg);
      }
    }
  }

  @include hover {
    color: $white-color;
    background-color: $primary-hover-color;
  }

  &:focus {
    outline: 2px solid $outline-stroke-color;
  }

  &:disabled {
    color: $disabled-text-color;
    background-color: $disabled-bg-color;
    cursor: not-allowed;
  }

  &_loading:disabled {
    position: relative;
    background-color: $primary-color;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      translate: 0 -50%;
      width: 18px;
      height: 18px;
      background-image: url(/src/assets/svg/loader.svg);
      background-repeat: no-repeat;
      animation: spin 1s linear infinite;
    }
    & span {
      visibility: hidden;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
