@media (hover: hover) {
  .input {
    &:hover {
      outline: 1px solid $grey-border-color;
    }
    &_error:hover {
      outline: 1px solid $error-border-color;
    }
  }
}

.input {
  padding: 12px 20px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 10px;
  background-color: $light-grey-color;
  color: $text-color;
  &::placeholder {
    color: $dark-grey-color;
  }
  &:focus {
    outline: 1px solid $grey-border-color;
  }
  &_error,
  &_error:focus {
    background-color: $error-bg-color;
    outline: 1px solid $error-border-color;
  }

  &__container {
    position: relative;
    width: max-content;
  }

  &__group {
    height: 104px;
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
  }
}

.input-error-message {
  display: flex;
  align-items: center;
  margin-top: 8px;
  font-size: 12px;
  color: $error-text-color;

  &::before {
    display: inline-block;
    content: '';
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background-image: url(/src/assets/svg/Attention.svg);
  }
}
