.header {
  position: fixed;
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  padding: 0 24px;
  background-color: $bg-color;
  border-bottom: 1px solid $light-grey-color;
  transition: all 0.3s ease 0s;
  z-index: 10;

  &__left {
    display: flex;
    gap: 24px;
    @include media('s') {
      gap: 8px;
    }
  }

  &__right {
    display: flex;
    gap: 8px;
  }

  &__logo {
    &-container {
      display: flex;
      gap: 8px;
      align-items: center;
      color: $primary-color;
      @include hover {
        color: $primary-hover-color;
      }
    }

    &-image {
      width: 40px;
      height: 40px;
    }

    &-text {
      color: inherit;
      @include media('s') {
        display: none;
      }
    }
  }

  &__user {
    &-container {
      height: 40px;
      width: 40px;
      cursor: pointer;
    }
    &-image {
      height: 100%;
      width: 100%;
    }
  }
}
